<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户资料查询</title>
    <style type="text/css">
        <!--
        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
        }
        .STYLE1 {font-size: 12px}
        .STYLE3 {font-size: 12px; font-weight: bold; }
        .STYLE4 {
            color: #03515d;
            font-size: 12px;
        }
        -->
        .addS td{
            text-align: center;
        }
    </style>
</head>

<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="30" background="__STATIC__/images/tab_05.gif">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="12" height="30"><img src="__STATIC__/images/tab_03.gif" width="12" height="30" /></td>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="46%" valign="middle">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="3%">
                                                <div align="center">
                                                    <img src="__STATIC__/images/tb.gif" width="16" height="16" />
                                                </div>
                                            </td>
                                            <td width="97%" class="STYLE1"><span class="STYLE3">你当前的位置</span>：[业务中心]-[我的邮件]</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="16"><img src="__STATIC__/images/tab_07.gif" width="16" height="30" /></td>
                </tr>
            </table>
        </td>
    </tr>



    <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="8" background="__STATIC__/images/tab_12.gif">&nbsp;</td>
                <td><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="b5d6e6" onmouseover="changeto()"  onmouseout="changeback()">


                </table>
                </td>
                <td width="8" background="__STATIC__/images/tab_15.gif">&nbsp;</td>
            </tr>
        </table></td>
    </tr>





    <tr>
        <td height="30">
            <table class="addS" width="80%" border="0" cellspacing="0" cellpadding="0" style="margin: auto; font-size: 14px">
                <tr>
                    <td colspan="2">
                        <hr/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr/>
                    </td>
                </tr>
                <tr>
                    <td width="10%">姓名：</td>
                    <td style="text-align: left"><input type="text"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr/>
                    </td>
                </tr>
                <tr>
                    <td width="10%">手机号：</td>
                    <td style="text-align: left"><input type="text"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left">
                        <button style="width: 80px; height: 30px">提　交</button>　　　　　
                        <button style="width: 80px; height: 30px">取　消</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>
